Dynamic render: https://github.com/pkiage/awesome-list-datasets-built-in-python/blob/master/notebooks/plotly-built-in-data-sets.ipynb

In [1]:
import plotly

In [2]:
def print_shape_and_head__and_column_types(df,n):
    print('Shape:')
    print(f'({df.shape[0]} Rows, {df.shape[1]} Columns) \n')
    
    print(f'First {n} rows:')
    print(df.head(n))
    
    print('\nColumn types:')
    print(df.dtypes)

# Built-in Datasets

```
"""Built-in datasets for demonstration, educational and test purposes.
"""

from __future__ import absolute_import
from plotly.data import *

__all__ = [
    "carshare",
    "election",
    "election_geojson",
    "experiment",
    "gapminder",
    "iris",
    "medals_wide",
    "medals_long",
    "stocks",
    "tips",
    "wind",
]
```

In [3]:
print(f'carshare type: {type(plotly.data.carshare())}\n')

print(f'election type: {type(plotly.data.election())}\n')

print(f'election_geojson type: {type(plotly.data.election_geojson())}\n')

print(f'experiment type: {type(plotly.data.experiment())}\n')

print(f'gapminder type: {type(plotly.data.gapminder())}\n')

print(f'iris type: {type(plotly.data.iris())}\n')

print(f'medals_wide type: {type(plotly.data.medals_wide())}\n')

print(f'medals_long type: {type(plotly.data.medals_long())}\n')

print(f'stocks type: {type(plotly.data.stocks())}\n')

print(f'tips type: {type(plotly.data.tips())}\n')

print(f'wind type: {type(plotly.data.wind())}\n')

carshare type: <class 'pandas.core.frame.DataFrame'>

election type: <class 'pandas.core.frame.DataFrame'>

election_geojson type: <class 'dict'>

experiment type: <class 'pandas.core.frame.DataFrame'>

gapminder type: <class 'pandas.core.frame.DataFrame'>

iris type: <class 'pandas.core.frame.DataFrame'>

medals_wide type: <class 'pandas.core.frame.DataFrame'>

medals_long type: <class 'pandas.core.frame.DataFrame'>

stocks type: <class 'pandas.core.frame.DataFrame'>

tips type: <class 'pandas.core.frame.DataFrame'>

wind type: <class 'pandas.core.frame.DataFrame'>

## Dataframes

### carshare

In [4]:
df_carshare = plotly.data.carshare()

In [5]:
print_shape_and_head__and_column_types(df_carshare,5)

Shape:
(249 Rows, 4 Columns)

First 5 rows:
   centroid_lat  centroid_lon    car_hours  peak_hour
0     45.471549    -73.588684  1772.750000          2
1     45.543865    -73.562456   986.333333         23
2     45.487640    -73.642767   354.750000         20
3     45.522870    -73.595677   560.166667         23
4     45.453971    -73.738946  2836.666667         19

Column types:
centroid_lat    float64
centroid_lon    float64
car_hours       float64
peak_hour         int64
dtype: object

In [6]:
print('Numerical column(s) summary statistics:')
print(df_carshare.describe())

Numerical column(s) summary statistics:
       centroid_lat  centroid_lon    car_hours   peak_hour
count    249.000000    249.000000   249.000000  249.000000
mean      45.523417    -73.591834  1092.528782    8.787149
std        0.035177      0.033098   572.187677    7.223874
min       45.448903    -73.738946    33.250000    0.000000
25%       45.497804    -73.618625   665.583333    3.000000
50%       45.527905    -73.587318  1020.916667    5.000000
75%       45.546145    -73.570955  1414.916667   15.000000
max       45.610879    -73.512460  3274.000000   23.000000

### election

In [7]:
df_election = plotly.data.election()

In [8]:
print_shape_and_head__and_column_types(df_election,5)

Shape:
(58 Rows, 8 Columns)

First 5 rows:
                district  Coderre  Bergeron  Joly  total    winner     result  \
0     101-Bois-de-Liesse     2481      1829  3024   7334      Joly  plurality
1  102-Cap-Saint-Jacques     2525      1163  2675   6363      Joly  plurality
2   11-Sault-au-RÃ©collet     3348      2770  2532   8650   Coderre  plurality
3           111-Mile-End     1734      4782  2514   9030  Bergeron   majority
4         112-DeLorimier     1770      5933  3044  10747  Bergeron   majority

   district_id
0          101
1          102
2           11
3          111
4          112

Column types:
district       object
Coderre         int64
Bergeron        int64
Joly            int64
total           int64
winner         object
result         object
district_id     int64
dtype: object

In [9]:
print('Numerical column(s) summary statistics:')
print(df_election.describe())

print('\nObject column(s) summary statistics:')
print(df_election.describe(include=['object']))

Numerical column(s) summary statistics:
           Coderre     Bergeron         Joly         total  district_id
count    58.000000    58.000000    58.000000     58.000000    58.000000
mean   2577.017241  2045.465517  2121.758621   6744.241379    96.310345
std    1502.950893  1543.416729   949.760954   2920.087672    56.504993
min     332.000000   131.000000   326.000000    789.000000    11.000000
25%    1546.500000   858.750000  1271.000000   4494.250000    45.000000
50%    2426.000000  1598.000000  2299.000000   7476.500000    92.500000
75%    3529.250000  2662.750000  2842.250000   9129.000000   139.250000
max    6591.000000  6408.000000  3959.000000  11050.000000   194.000000

Object column(s) summary statistics:
                                                 district   winner     result
count                                                  58       58         58
unique                                                 58        3          2
top     161-Saint-HenriPetite-BourgognePointe-Saint-Ch...  Coderre  plurality
freq                                                    1       29         41

### experiment

In [10]:
df_experiment = plotly.data.experiment()

In [11]:
print_shape_and_head__and_column_types(df_experiment,5)

Shape:
(100 Rows, 5 Columns)

First 5 rows:
   experiment_1  experiment_2  experiment_3  gender      group
0     96.876065     93.417942     73.033193    male    control
1     87.301336    129.603395     66.056554  female    control
2     97.691312    106.187916    103.422709    male  treatment
3    102.978152     93.814682     56.995870  female  treatment
4     87.106993    107.019985     72.140292    male    control

Column types:
experiment_1    float64
experiment_2    float64
experiment_3    float64
gender           object
group            object
dtype: object

In [12]:
print('Numerical column(s) summary statistics:')
print(df_experiment.describe())

print('\nObject column(s) summary statistics:')
print(df_experiment.describe(include=['object']))

Numerical column(s) summary statistics:
       experiment_1  experiment_2  experiment_3
count    100.000000    100.000000    100.000000
mean     101.298558    109.956715     89.146684
std        9.425540     13.482655     19.000267
min       79.429575     82.480713     25.528903
25%       95.252586    100.245933     76.770010
50%      101.804274    107.304949     90.497223
75%      106.659661    118.560934    100.627723
max      125.520425    143.685892    143.846432

Object column(s) summary statistics:
        gender      group
count      100        100
unique       2          2
top     female  treatment
freq        50         50

### gapminder

In [13]:
df_gapminder = plotly.data.gapminder()

In [14]:
print_shape_and_head__and_column_types(df_gapminder,5)

Shape:
(1704 Rows, 8 Columns)

First 5 rows:
       country continent  year  lifeExp       pop   gdpPercap iso_alpha  \
0  Afghanistan      Asia  1952   28.801   8425333  779.445314       AFG
1  Afghanistan      Asia  1957   30.332   9240934  820.853030       AFG
2  Afghanistan      Asia  1962   31.997  10267083  853.100710       AFG
3  Afghanistan      Asia  1967   34.020  11537966  836.197138       AFG
4  Afghanistan      Asia  1972   36.088  13079460  739.981106       AFG

   iso_num
0        4
1        4
2        4
3        4
4        4

Column types:
country       object
continent     object
year           int64
lifeExp      float64
pop            int64
gdpPercap    float64
iso_alpha     object
iso_num        int64
dtype: object

In [15]:
print('Numerical column(s) summary statistics:')
print(df_gapminder.describe())

print('\nObject column(s) summary statistics:')
print(df_gapminder.describe(include=['object']))

Numerical column(s) summary statistics:
             year      lifeExp           pop      gdpPercap      iso_num
count  1704.00000  1704.000000  1.704000e+03    1704.000000  1704.000000
mean   1979.50000    59.474439  2.960121e+07    7215.327081   425.880282
std      17.26533    12.917107  1.061579e+08    9857.454543   248.305709
min    1952.00000    23.599000  6.001100e+04     241.165876     4.000000
25%    1965.75000    48.198000  2.793664e+06    1202.060309   208.000000
50%    1979.50000    60.712500  7.023596e+06    3531.846989   410.000000
75%    1993.25000    70.845500  1.958522e+07    9325.462346   638.000000
max    2007.00000    82.603000  1.318683e+09  113523.132900   894.000000

Object column(s) summary statistics:
       country continent iso_alpha
count     1704      1704      1704
unique     142         5       141
top     Canada    Africa       KOR
freq        12       624        24

### iris

In [16]:
df_iris =  plotly.data.iris()

In [17]:
print_shape_and_head__and_column_types(df_iris,5)

Shape:
(150 Rows, 6 Columns)

First 5 rows:
   sepal_length  sepal_width  petal_length  petal_width species  species_id
0           5.1          3.5           1.4          0.2  setosa           1
1           4.9          3.0           1.4          0.2  setosa           1
2           4.7          3.2           1.3          0.2  setosa           1
3           4.6          3.1           1.5          0.2  setosa           1
4           5.0          3.6           1.4          0.2  setosa           1

Column types:
sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
species_id        int64
dtype: object

In [18]:
print('Numerical column(s) summary statistics:')
print(df_iris.describe())

print('\nObject column(s) summary statistics:')

print(df_iris.describe(include=['object']))

Numerical column(s) summary statistics:
       sepal_length  sepal_width  petal_length  petal_width  species_id
count    150.000000   150.000000    150.000000   150.000000  150.000000
mean       5.843333     3.054000      3.758667     1.198667    2.000000
std        0.828066     0.433594      1.764420     0.763161    0.819232
min        4.300000     2.000000      1.000000     0.100000    1.000000
25%        5.100000     2.800000      1.600000     0.300000    1.000000
50%        5.800000     3.000000      4.350000     1.300000    2.000000
75%        6.400000     3.300000      5.100000     1.800000    3.000000
max        7.900000     4.400000      6.900000     2.500000    3.000000

Object column(s) summary statistics:
          species
count         150
unique          3
top     virginica
freq           50

### medals_wide

In [19]:
df_metals_wide =  plotly.data.medals_wide()

In [20]:
print_shape_and_head__and_column_types(df_metals_wide,5)

Shape:
(3 Rows, 4 Columns)

First 5 rows:
        nation  gold  silver  bronze
0  South Korea    24      13      11
1        China    10      15       8
2       Canada     9      12      12

Column types:
nation    object
gold       int64
silver     int64
bronze     int64
dtype: object

In [21]:
print('Numerical column(s) summary statistics:')
print(df_metals_wide.describe())

print('\nObject column(s) summary statistics:')

print(df_metals_wide.describe(include=['object']))

Numerical column(s) summary statistics:
            gold     silver     bronze
count   3.000000   3.000000   3.000000
mean   14.333333  13.333333  10.333333
std     8.386497   1.527525   2.081666
min     9.000000  12.000000   8.000000
25%     9.500000  12.500000   9.500000
50%    10.000000  13.000000  11.000000
75%    17.000000  14.000000  11.500000
max    24.000000  15.000000  12.000000

Object column(s) summary statistics:
             nation
count             3
unique            3
top     South Korea
freq              1

### medals_long

In [22]:
df_metals_long =  plotly.data.medals_long()

In [23]:
print_shape_and_head__and_column_types(df_metals_long,5)

Shape:
(9 Rows, 3 Columns)

First 5 rows:
        nation   medal  count
0  South Korea    gold     24
1        China    gold     10
2       Canada    gold      9
3  South Korea  silver     13
4        China  silver     15

Column types:
nation    object
medal     object
count      int64
dtype: object

In [24]:
print('Numerical column(s) summary statistics:')
print(df_metals_long.describe())

print('\nObject column(s) summary statistics:')

print(df_metals_long.describe(include=['object']))

Numerical column(s) summary statistics:
           count
count   9.000000
mean   12.666667
std     4.743416
min     8.000000
25%    10.000000
50%    12.000000
75%    13.000000
max    24.000000

Object column(s) summary statistics:
             nation   medal
count             9       9
unique            3       3
top     South Korea  silver
freq              3       3

### stocks

In [25]:
df_stocks =  plotly.data.stocks()

In [26]:
print_shape_and_head__and_column_types(df_stocks,5)

Shape:
(105 Rows, 7 Columns)

First 5 rows:
         date      GOOG      AAPL      AMZN        FB      NFLX      MSFT
0  2018-01-01  1.000000  1.000000  1.000000  1.000000  1.000000  1.000000
1  2018-01-08  1.018172  1.011943  1.061881  0.959968  1.053526  1.015988
2  2018-01-15  1.032008  1.019771  1.053240  0.970243  1.049860  1.020524
3  2018-01-22  1.066783  0.980057  1.140676  1.016858  1.307681  1.066561
4  2018-01-29  1.008773  0.917143  1.163374  1.018357  1.273537  1.040708

Column types:
date     object
GOOG    float64
AAPL    float64
AMZN    float64
FB      float64
NFLX    float64
MSFT    float64
dtype: object

In [27]:
print('Numerical column(s) summary statistics:')
print(df_stocks.describe())

print('\nObject column(s) summary statistics:')

print(df_stocks.describe(include=['object']))

Numerical column(s) summary statistics:
             GOOG        AAPL        AMZN          FB        NFLX        MSFT
count  105.000000  105.000000  105.000000  105.000000  105.000000  105.000000
mean     1.046206    1.138536    1.393822    0.945121    1.540559    1.318059
std      0.077776    0.182109    0.140796    0.103350    0.200508    0.220662
min      0.888689    0.847200    1.000000    0.668718    1.000000    0.988547
25%      0.992924    1.000400    1.304091    0.879529    1.398876    1.142873
50%      1.036372    1.095429    1.420278    0.959968    1.560884    1.242431
75%      1.095189    1.236000    1.491702    1.016858    1.701605    1.543599
max      1.226504    1.678000    1.637494    1.123575    1.957665    1.802472

Object column(s) summary statistics:
              date
count          105
unique         105
top     2018-09-10
freq             1

### tips

In [28]:
df_tips =  plotly.data.tips()

In [29]:
print_shape_and_head__and_column_types(df_tips,5)

Shape:
(244 Rows, 7 Columns)

First 5 rows:
   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

Column types:
total_bill    float64
tip           float64
sex            object
smoker         object
day            object
time           object
size            int64
dtype: object

In [30]:
print('Numerical column(s) summary statistics:')
print(df_tips.describe())

print('\nObject column(s) summary statistics:')

print(df_tips.describe(include=['object']))

Numerical column(s) summary statistics:
       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

Object column(s) summary statistics:
         sex smoker  day    time
count    244    244  244     244
unique     2      2    4       2
top     Male     No  Sat  Dinner
freq     157    151   87     176

### wind

In [31]:
df_wind =  plotly.data.wind()

In [32]:
print_shape_and_head__and_column_types(df_wind,5)

Shape:
(128 Rows, 3 Columns)

First 5 rows:
  direction strength  frequency
0         N      0-1        0.5
1       NNE      0-1        0.6
2        NE      0-1        0.5
3       ENE      0-1        0.4
4         E      0-1        0.4

Column types:
direction     object
strength      object
frequency    float64
dtype: object

In [33]:
print('Numerical column(s) summary statistics:')
print(df_wind.describe())

print('\nObject column(s) summary statistics:')
print(df_wind.describe(include=['object']))

Numerical column(s) summary statistics:
        frequency
count  128.000000
mean     0.766406
std      0.649685
min      0.050000
25%      0.200000
50%      0.600000
75%      1.125000
max      2.600000

Object column(s) summary statistics:
       direction strength
count        128      128
unique        16        8
top           NW      0-1
freq           8       16